<footer id="footer">
    <div class="container">
        <div class="footer-menu-list">
            <div class="row d-flex flex-wrap justify-content-between">
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="footer-menu">
                        <h5 class="widget-title">Letgo</h5>
                        <ul class="menu-list list-unstyled">
                            <li class="menu-item">
                                <a href="about.html">Hakkımızda</a>
                            </li>
                            <li class="menu-item">
                                <a href="#">Koşullar </a>
                            </li>
                            <li class="menu-item">
                                <a href="#">Ortaklık Programı</a>
                            </li>
                            <li class="menu-item">
                                <a href="#">Letgo Basın</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="footer-menu">
                        <h5 class="widget-title">Müşteri Hizmetleri</h5>
                        <ul class="menu-list list-unstyled">
                            <li class="menu-item">
                                <a href="faqs.html">SSS</a>
                            </li>
                            <li class="menu-item">
                                <a href="contact.html">İletişim</a>
                            </li>
                            <li class="menu-item">
                                <a href="#">Gizlilik Politikası</a>
                            </li>
                            <li class="menu-item">
                                <a href="#">Çerezler</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="footer-menu">
                        <h5 class="widget-title">Bize Ulaşın</h5>
                        <p>
                            Sorununuz veya bir öneriniz mi var? <a href="#" class="email">mrtcnck@hotmail.com</a>
                        </p>
                        <p>
                            Yardıma mı ihtiyacınız var? Bizi arayın. <br>
                            <strong>+90 (531) 519 9973</strong>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <hr>
</footer>