@using Algolia.Search.Iterators;
@using Microsoft.AspNetCore.Identity;
@inject UserManager<User> userManager;
@inject IChatHistoryManagerDb chatManager;
@inject IAdvertManagerDb advertManager;
@{
    ViewData["Title"] = "Türkiye'deki İkinci El Eşyaları Al & Sat";
    //var userId = User.Identity.IsAuthenticated != false ? userManager.GetUserAsync(User).Result.Id : null;
}

<div class="search-panel">
    <div class="search-panel__filters">
        @*<div id="dynamic-widgets"></div>*@
        <div id="category"></div>
    </div>

    <div class="search-panel__results">
        <div id="searchbox"></div>
        <div id="hits"></div>
        <div id="pagination"></div>
    </div>
</div>

