@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<div class="hold-transition login-page m-0" style="height:40rem !important;">
    <div class="login-box">
        <div class="card">
            <div class="card-body login-card-body">
                <p class="login-box-msg">Oturumunuzu başlatmak için lütfen oturum açın</p>

                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                <form id="account" method="post">
                    <span asp-validation-for="Input.UserName" class="text-danger"></span>
                    <div class="input-group mb-3">
                        <input asp-for="Input.UserName" class="form-control" autocomplete="username" aria-required="true" placeholder="Kullanıcı Adı" />
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-envelope"></span>
                            </div>
                        </div>
                    </div>

                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                    <div class="input-group mb-3">
                        <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true" placeholder="Şifre" />
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <span asp-validation-for="Input.RememberMe" class="text-danger"></span>
                        <div class="col-8">
                            <div class="form-check">
                                <input asp-for="Input.RememberMe" type="checkbox" id="remember" class="form-check-input">
                                <label asp-for="Input.RememberMe" class="form-check-label">
                                    Beni Hatırla
                                </label>
                            </div>
                        </div>
                        <!-- /.col -->
                        <div class="col-4">
                            <button type="submit" class="btn btn-primary btn-block">Giriş Yap</button>
                        </div>
                        <!-- /.col -->
                    </div>
                </form>

                <div class="social-auth-links text-center mb-3">
                    <p>- veya -</p>
                    <a href="#" class="btn btn-block btn-primary">
                        <i class="fab fa-facebook mr-2"></i> Facebook ile giriş yap
                    </a>
                    <a href="#" class="btn btn-block btn-danger">
                        <i class="fab fa-google-plus mr-2"></i> Google+ ile giriş yap
                    </a>
                </div>
                <!-- /.social-auth-links -->

                <p class="mb-1">
                    <a id="forgot-password" asp-page="./ForgotPassword">Şifremi unuttum</a>
                </p>
                <p class="mb-1">
                    <a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Yeni bir üyelik oluşturun</a>
                </p>
                <p class="mb-0">
                    <a id="resend-confirmation" asp-page="./ResendEmailConfirmation">Email doğrulamasını yeniden gönder</a>
                </p>
            </div>
            <!-- /.login-card-body -->
        </div>
    </div>
</div>
<!-- /.login-box -->
<!-- jQuery -->
<script src="../../plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="../../plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- AdminLTE App -->
<script src="../../dist/js/adminlte.min.js"></script>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
